{% extends "articles/base.html" %}
{% load i18n %}

{% block navigation %}
  <h1>{% blocktrans with year as year %}{{ year }}'s Articles{% endblocktrans %}</h1>
{% endblock %}

{% block content %}
  {% with object_list as article_translations %}
    {% include "articles/articles_banner.html" %}
  {% endwith %}
{% endblock %}

{% block side %}
  <h2>{% trans "Archives" %}</h2>
  <ul>
    {% for month in date_list %}
      <li><a href="{% url django.views.generic.date_based.archive_month month|date:"Y" month|date:"m" %}">{{ month|date:"F"|capfirst }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}
